{% extends "base.html" %}
{% block content %}
    <form class="form-signin" role="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">请输入昵称和密码</h2>
        <input type="text" name="nick" class="form-control" placeholder="昵称" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="密码" required>
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" value="记住我">记住我-->
          <!--</label>-->
        <!--</div>-->
        {% if msg %}
			<div class="form-group">
				<label  class="col-sm-3 control-label no-padding-right">&nbsp;</label>
				<div class="col-sm-5">
					<span class="help_line red">{{msg}}</span>
				</div>
			</div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <span>还未注册用户，先<a href="{% url 'register'%}">注册</a></span>
    </form>
{% endblock %}
